@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="/home/index"><b>Oto</b>Tamir</a>
    </div>
    
           
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Şifrenizi mi unuttunuz? E-posta adresinizi girin, size sıfırlama bağlantısı gönderelim.</p>

            <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                <div class="input-group mb-3">
                    <input type="email" name="Email" class="form-control" />
                    <div class="input-group-text"><span class="bi bi-envelope"></span></div>
                </div>


                <div class="row">
                    <div class="col-8">
                        <a href="/Account/Login" class="text-muted">Giriş sayfasına dön</a>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block w-100">Gönder</button>
                    </div>
                </div>
            </form>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
