@model ChangePasswordViewModel


<form asp-action="ChangePassword" asp-controller="Account" method="post" id="changePasswordForm">
   
   @*  <div asp-validation-summary="All" class="text-danger"></div> *@

    <div class="row">
        <!-- hata mesajı gelmiyor -->
        <div class="col-md-3">
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div> <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ReNewPassword" class="form-label"></label>
                <input asp-for="ReNewPassword" class="form-control" />
                <span asp-validation-for="ReNewPassword" class="text-danger"></span>
            </div>

            <div class="text-end">
                <button type="button"
                        class="btn btn-primary confirm-button"
                        data-confirm-message="Şifreyi güncellemek istediğinize emin misiniz?"
                        data-form-id="changePasswordForm">
                    Şifre Güncelle
                </button>
            </div>

        </div>
    </div>
</form>
@await Html.PartialAsync("_ConfirmModalPartial")