@model List<Vehicle>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Plaka</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Yıl</th>
            <th>İşlemler</th>

        </tr>
    </thead>
    <tbody>


        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.Plate</td>
                <td>@vehicle.Brand</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.Year</td>
                <td>
                    <div class="btn-group" role="group">
                        <button class="btn btn-sm btn-warning">İşlen Geçmişi</button>
                        <button class="btn btn-sm btn-success">Yeni İşlem</button>


                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>
